footer {
  background-color: var(--grej-dark);
  padding: 0 50px;
  border-top: 1px solid var(--grej-light);
}

.desktop-footer {
  display: flex;
  justify-content: space-between;
  color: var(--grej-light);
  padding-top: 30px;
}

ul {
  list-style-type: none;
  text-transform: uppercase;
}

ul li {
  padding-bottom: 10px;
}

.footer-headline {
  font-family: var(--footer-headline-font);
  font-size: var(--footer-headline-font-size);
  color: var(--grej-light);
}

li a {
  font-family: var(--footer-title-font);
  font-size: var(--footer-title-font-size);
  text-decoration: none;
  color: var(--grej-light);
}

li a:hover {
  font-weight: bold;
}

#footer-logo {
  width: 100%;
  max-width: 200px;
  aspect-ratio: 1/1;
  object-fit: contain;
  margin-left: -23px;
}

.footer-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.social-media-icons img {
  width: 100%;
  max-width: 60px;
  aspect-ratio: 1/1;
  object-fit: contain;
  padding-left: 10px;
}

#cvr {
  margin-top: 20px;
  color: var(--grej-light);
}

.accordion-arrow {
  display: none;
}

.accordion-header {
  padding-bottom: 10px;
  color: var(--grej-light);
}

@media (max-width: 560px) {
  .desktop-footer {
    display: flex;
    flex-direction: column;
  }

  .accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .accordion-arrow {
    display: flex;
    align-items: center;
  }

  .accordion-header {
    padding-bottom: 20px;
  }

  ul li {
    padding-bottom: 0;
  }

  ul li:last-of-type {
    padding-bottom: 20px;
  }

  .accordion-arrow {
    content: url(../assets/icons/triangle.webp);
    max-height: 15px;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  }

  .accordion-header:hover {
    cursor: pointer;
  }

  .accordion-content {
    display: none;
  }

  .accordion-header.active ~ .accordion-content {
    display: block;
  }

  .accordion-header.active .accordion-arrow {
    transform: rotate(180deg);
  }

  .social-media-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
