/* font-face */
@font-face {
  font-family: "RammetoOne";
  src: url("../assets/fonts/RammettoOne-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HindGuntur-Regular";
  src: url("../assets/fonts/HindGuntur-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "HindGuntur-Bold";
  src: url("../assets/fonts/HindGuntur-Bold.ttf") format("truetype");
}

:root {
  /*Fonte og fontstørrelser*/
  --logo-font: "RammetoOne";
  --title-font: "HindGuntur-Bold";
  --p-font: "HindGuntur-Regular";
  --nav-font: "HindGuntur-Bold";
  --filter-cta-font: "HindGuntur-Bold";
  --product-card-font: "HindGuntur-Regular";
  --product-card-tag-font: "HindGuntur-Bold";
  --product-card-price-font: "HindGuntur-Bold";
  --article-title-font: "RammetoOne";
  --article-description-font: "HindGuntur-Regular";
  --footer-headline-font: "HindGuntur-Bold";
  --footer-title-font: "HindGuntur-Regular";
  --cta-font: "HindGuntur-Bold";
  --cta-add-to-cart-font: "HindGuntur-Bold";
  --logo-font-size: 50px;
  --h1-font-size: 30px;
  --h2-font-size: 18px;
  --h3-font-size: 20px;
  --p-font-size: 16px;
  --header-banner-p-size: 14px;
  --nav-font-size: 18px;
  --filter-cta-font-size: 15px;
  --product-card-font-size: 15px;
  --product-card-tag-font-size: 16px;
  --product-card-price-font-size: 18px;
  --article-title-font-size: 64px;
  --article-description-font-size: 32px;
  --footer-headline-font-size: 20px;
  --footer-title-font-size: 16px;
  --cta-font-size: 32px;
  --cta-add-to-cart-font-size: 18px;
  --sorting-font-size: 14px;

  /*Farver*/
  --grej-dark: #373f8a;
  --grej-light: #efeae6;
  --grej-discount: #f81927;
  --grej-cart: #000000;
}

* {
  /*Nulstiller automatiske margin- og paddingindstillinger*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*Begrænser bodystørrelsen til max 1440px og centrerer body*/
  max-width: 1700px;
  margin: 0 auto;
  background-color: var(--grej-light);
}

main {
  /*Bestemmer default baggrundsfarven i main, så baggrundsfarven i body >1400px kan adskille sig*/
  background-color: var(--grej-dark);
  min-height: 100vh;
}

h1 {
  text-transform: uppercase;
  font-family: var(--logo-font);
  font-size: var(--h1-font-size);
  color: var(--grej-light);
}

h2 {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
  color: var(--grej-dark);
}

h3 {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: var(--h3-font-size);
  color: var(--grej-light);
}

p {
  font-size: var(--p-font-size);
  font-family: var(--p-font);
}

.product-card-tag {
  font-family: var(--product-card-tag-font);
  font-size: var(--product-card-tag-font-size);
}
