#header-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-banner-p {
  font-family: var(--p-font);
  font-size: var(--header-banner-p-size);
  color: var(--grej-dark);
}
#header-logo-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--grej-dark);
  padding: 20px;
}

.header-logo-flex-item img {
  transition: transform 0.1s ease;
}
.header-logo-flex-item img:hover {
  transform: scale(1.1);
}

.search-bar {
  padding-right: 70px;
}
#nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.nav-bar-text {
  font-family: var(--nav-font);
  font-size: var(--nav-font-size);
  color: #000000;
  text-decoration: none;
  transition: transform 0.1s ease;
}
.nav-bar-text:hover {
  transform: scale(1.1);
}
