.product-presentation{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4em;
    margin: 2em 4em 2em 4em;
}

h3{
    color: var(--grej-dark);
}

p{
    color: var(--grej-dark);
}

.dimensions-title{
    font-weight: bold;
    font-size: 18px;
}

.no-discount{
    display: none;
}

.single-view-product-info,
.single-view-image{
    background-color: var(--grej-light);
    height: auto;
    padding: 3em;
}

.single-view-title{
    text-align: center;
}

.product-prices{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

.single-view-image img{
    max-width: 100%;
}

.scratch-price{
    text-decoration-line: line-through;
}

.basket-button{
    background-color: var(--grej-cart);
    color: var(--grej-light);
    font-size: var(--cta-add-to-cart-font-size);
    font-family: var(--cta-add-to-cart-font);
    border: none;
    padding: 1rem 4rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.basket-button-div{
    display: flex;
    justify-content: center;
    margin: 3em 0em;
}

@media (min-width: 1000px){
    .single-view-product-info,
.single-view-image{
    width: 40%;
    padding: 4em;
}
}