.all-products-slider,
.discount-products-slider {
  margin-bottom: 2em;
}

.products-image-slider {
  margin: 2em;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5px;
  width: 70%;
}
.product-in-slider {
  background-color: var(--grej-light);
  display: grid;
  background-color: var(--grej-light);
  grid-template-rows: subgrid;
  grid-row: span 4;
  align-items: center;
  position: relative;
  padding: 30px;
  img {
    width: 100%;
  }
}
.product-card-title {
  color: var(--grej-dark);
  text-align: left;
  padding-left: 10px;
  font-size: var(--product-card-font-size);
  font-family: var(--product-card-font);
}
.product-card-title-price {
  display: grid;
  grid-template-columns: 2fr 1fr;
  z-index: 1;
  position: absolute;
  bottom: 10px;
  gap: 45px;
  color: var(--grej-light);
  margin: 10px;
}
.price {
  display: inline-flex;
  background-color: var(--grej-dark);
  bottom: 60px;
  right: 10px;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  font-size: var(--product-card-price-font-size);
  font-family: var(--product-card-price-font);
  color: var(--grej-light);
}
.slider-grid {
  display: flex;
  justify-content: center;
}
.slider-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 50px;
  }
}
h2 {
  background-color: var(--grej-light);
  text-align: center;
}

.CTA-div {
  display: flex;
  justify-content: center;
}

/*.se-produkter-CTA,
.se-tilbud-CTA{
    width: 400px;
    text-align: center;
    font-size: var(--cta-font-size);
    font-family: var(--cta-font);
    color: var(--grej-dark);
    background-color: var(--grej-light);
    text-decoration-line: none;
    border-radius: 50px;
}*/

.se-produkter-CTA,
.se-tilbud-CTA {
  background-color: var(--grej-light);
  color: var(--grej-dark);
  border: none;
  padding: 0.7rem 4rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: var(--cta-font);
  text-decoration: none;
  margin-bottom: 50px;
}

.se-produkter-blue-CTA,
.se-tilbud-blue-CTA {
  background-color: var(--grej-dark);
  color: var(--grej-light);
  border: none;
  padding: 0.7rem 4rem;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: var(--cta-font);
  text-decoration: none;
}
